<p id="notice"><%= notice %></p>

<div class="post">
    <%= image_tag @post.image.url(:full) %>
    <h4><%= link_to @post.title, @post %> | w: <span class="muted"><%= @post.category.name %></span></h4>
    <hr>
    <p><%= @post.content %></p>
  </div>

<% if @comments.present? then %>

  <div class="comments_form comments">
  	<% @comments.each do |c| %>
      <p><%= c.author %></p>
      <p><%= c.content %></p>
      <hr>
    <% end %>
  </div>

  <% end %>

  <div class="comments_form">
  	<%= render :partial => 'comments/form' %>
  </div>

<div class="comments_form related_post">
  <h4>Powiązane posty</h4>
  <% @rel_post.each do |p| %>
      <p><%= link_to p.title, p %></p>
      <hr>
    <% end %>
</div>